/* Main content area grows to fill */
.main-content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: radial-gradient(ellipse at 80% 20%, #030579 30%, #042d7e 75%, #1a2ad6 100%);
}

.background-img {
  position: absolute;
  top: -2%;
  right: 0;
  width: 18vw;
  min-width: 200px;
  max-width: 300px;
  opacity: 0.6;
  pointer-events: none;
  /* z-index: -1; */
  margin-right: 30px;
  object-fit: contain;
  object-position: top right;
}