@keyframes slideInLeft {
  0% {
    opacity: 0;
    transform: translateX(-140px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInRight {
    0% {
        opacity: 0;
        transform: translateX(140px)
    }
    100% {
        opacity: 1;
        transform: translateX(0)
    }
}

.dashboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    padding: 2rem;
    background: radial-gradient(#2637ee, #2a1265);
    color: #fff;
}

.dashboard-container > div {
    opacity: 0;
    animation-fill-mode: forwards;
    animation-duration: 0.6s;
    animation-timing-function: ease-out;
}

.dashboard-container > div:nth-child(1) {
    animation-name: slideInLeft;
    animation-delay: 0s;
}

.dashboard-container > div:nth-child(3) {
    animation-name: slideInLeft;
    animation-delay: 0.4s;
}

.dashboard-container > div:nth-child(2) {
    animation-name: slideInRight;
    animation-delay: 0.2s;
}

.dashboard-container > div:nth-child(4) {
    animation-name: slideInRight;
    animation-delay: 0.6s;
}

.dashboard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    padding: 1.5rem 2rem;
    margin: 2rem auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.05);
    flex-wrap: wrap;
    gap: 1rem;
    /* animation: slideInLeft 0.6s ease-out; */
}

.dashboard__user-info {
    flex: 1;
    min-width: 250px;
}

.dashboard__username {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: #555;
}

.dashboard__email {
    font-size: 1rem;
    color: #555;
    justify-content: center;
    display: flex;
}

.dashboard__user-img {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dashboard__profile-img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #eee;
}

.dashboard__favorites-section {
    max-width: 1200px;
    width: 100%;
    padding: 1.5rem 2rem;
    margin-bottom: 2rem;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.05);
    /* animation: slideInRight 1.6s ease-out; */
}

.dashboard__matches-section {
    max-width: 1200px;
    width: 100%;
    padding: 1.5rem 2rem;
    margin-bottom: 2rem;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.05);
    /* animation: slideInLeft 2.6s ease-out; */
}

.dashboard__preferences-section {
    max-width: 1200px;
    width: 100%;
    padding: 1.5rem 2rem;
    margin-bottom: 2rem;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.05);
    /* animation: slideInRight 3.6s ease-out; */
}