.dashboard-favorites-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
    overflow: visible;
}

.dashboard-favorites-header {
    display: flex;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    color: #555;
    justify-content: center;
    margin-bottom: 20px;
}

.dashboard-favorite-card {
    /* border: 1px solid #ddd; */
    border-radius: 8px;
    overflow: hidden;
    padding: 0.75rem;
    background: #ececec;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.2s ease-in-out;
    position: relative;
}

.dashboard-favorite-card:hover {
    transform: scale(1.02);
    background: #f9f9f9;
    z-index: 2;
}

.dashboard-favorite-img {
    /* width: 100%; */
    height: 300px;
    object-fit: cover;
    /* border-radius: 4px; */
    margin-bottom: 0.5rem;
    display: block;
}

.dashboard-favorite-card-info {
    font-size: 0.95rem;
    color: #333;
}

.dashboard-favorite-card-info h4 {
    margin: 0.5rem 0;
}

.dashboard-no-favorites-message {
    font-size: 14px;
    color: #333;
    font-style: italic;
}

.dashboard-favorites-footer {
    text-align: right;
    margin-top: 1rem;
}

.dashboard-view-all-link {
    font-size: 0.9rem;
    color: #0077cc;
    text-decoration: none;
}

.dashboard-view-all-link:hover {
    text-decoration: underline;
}

.dashboard-swiper {
    padding-bottom: 2rem;
}

.dashboard-swiper-wrapper {
    padding: 1rem;
}

.dashboard-swiper-slide {
    overflow: visible;
}

/* .swiper-button-next,
.swiper-button-prev {
    color: #000;
} */