.dashboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    padding: 2rem;
    background: radial-gradient(#2637ee, #2a1265);
    color: #fff;
}

.dashboard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    padding: 1.5rem 2rem;
    margin: 2rem auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.05);
    flex-wrap: wrap;
    gap: 1rem;
}

.dashboard__user-info {
    flex: 1;
    min-width: 250px;
}

.dashboard__username {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: #555;
}

.dashboard__email {
    font-size: 1rem;
    color: #555;
    justify-content: center;
    display: flex;
}

.dashboard__user-img {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dashboard__profile-img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #eee;
}

.dashboard-title {
    font-size: 2.5rem;
    color: #fff;
    margin-bottom: 2rem;
    text-align: center;
}

.dashboard-container p {
    
}

.dashboard-section {
    background-color: rgba(255, 255, 255, 0.08);
    padding: 1.5rem;
    margin-bottom: 1.5rem;
    border-radius: 10px;
    width: 100%;
    max-width: 800px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
}

.dashboard-section h2 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color: #ffffff;
}

.dashboard-section p {
    font-size: 1rem;
    color: #dcdcdc
}